<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{{ nombreproyecto }} | Admin</title>
    <!-- Bootstrap core CSS-->
    <link href="{{asset('admin/assets/sb-admin/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Create fonts for this template-->
    <link href="{{asset('admin/assets/sb-admin/vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <!-- Page level plugin CSS-->
    <link href="{{asset('admin/assets/sb-admin/vendor/datatables/dataTables.bootstrap4.css') }}" rel="stylesheet">
    <link href="{{asset('admin/assets/sb-admin/vendor/bootstrap-wysihtml5/css/bootstrap-wysihtml5.css') }}" rel="stylesheet">
    <!-- Create styles for this template-->
    <link href="{{asset('admin/assets/sb-admin/css/sb-admin.css') }}" rel="stylesheet">
    {% block css %}{% endblock %}
    <style>
        .btn.aire{
            margin:5px;
        }
    </style>
</head>

<body class="fixed-nav sticky-footer bg-dark sidenav-toggled" id="page-top">
<!-- Navigation-->
{% include menu %}
<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Dashboard</a>
            </li>
            {% block location %}  {% endblock %}
        </ol>

        {% block body %}{% endblock %}
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
        <div class="container">
            <div class="text-center">
                <small>Copyright © 2019</small>
            </div>
        </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa fa-angle-up"></i>
    </a>

</div>
<!-- Bootstrap core JavaScript-->
<script src="{{asset('admin/assets/sb-admin/vendor/jquery/jquery.min.js') }}"></script>
<script src="{{asset('admin/assets/sb-admin/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<!-- Core plugin JavaScript-->
<script src="{{asset('admin/assets/sb-admin/vendor/jquery-easing/jquery.easing.min.js') }}"></script>
<!-- Page level plugin JavaScript-->
<script src="{{asset('admin/assets/sb-admin/vendor/chart.js/Chart.min.js') }}"></script>
<script src="{{asset('admin/assets/sb-admin/vendor/datatables/jquery.dataTables.js') }}"></script>
<script src="{{asset('admin/assets/sb-admin/vendor/datatables/dataTables.bootstrap4.js') }}"></script>
<script src="{{asset('admin/assets/sb-admin/vendor/bootstrap-wysihtml5/js/wysihtml5-0.3.0.js') }}"></script>
<script src="{{asset('admin/assets/sb-admin/vendor/bootstrap-wysihtml5/js/jquery.hotkeys.js') }}"></script>
<script src="{{asset('admin/assets/sb-admin/vendor/bootstrap-wysihtml5/js/bootstrap-wysihtml5.js') }}"></script>
<!-- Create scripts for all pages-->
<script src="{{asset('admin/assets/sb-admin/js/sb-admin.min.js') }}"></script>
<!-- Create scripts for this page-->
<script src="{{asset('admin/assets/sb-admin/js/sb-admin-datatables.min.js') }}"></script>
<script src="{{asset('admin/assets/sb-admin/js/sb-admin-charts.min.js') }}"></script>
<script>
    $(document).ready(function() {
        $('form').each(function (){
            var form =  $(this);
            form.on('submit',function(e){
                var button = $(this).find('button[type=submit]');
                var  icon = button.find('i.fa');
                icon.removeClass('fa-floppy-o');
                icon.addClass('fa-refresh fa-spin');
                button.attr('disabled','disabled');
                button.add('disabled');
            });
        });
    });
</script>
{% block js %}{% endblock %}
</body>

</html>
