{{ "{%"}} extends '@{{ bundle}}/layout.html.twig' {{ "%}"}}
{{ "{% block location %}" }}
<li class="breadcrumb-item active">Inicio</li>
{{ "{% endblock %}" }}
{{ "{% block body %}" }}
{{ "{% endblock %}" }}


