{% use 'bootstrap_4_horizontal_layout.html.twig' %}

{% block form_label -%}
    {%- if label is same as(false) -%}
        <div class="{{ block('form_label_class') }}"></div>
    {%- else -%}
        {%- if expanded is not defined or not expanded -%}
            {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' col-form-label')|trim}) -%}
        {%- endif -%}
        {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' ' ~ block('form_label_class'))|trim}) -%}
        {{- parent() -}}
    {%- endif -%}
{%- endblock form_label %}

{% block form_label_check -%}
    {%- if label is same as(false) -%}
        <div class="{{ block('form_label_class') }}"></div>
    {%- else -%}
        {%- if expanded is not defined or not expanded -%}
            {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' col-form-label')|trim}) -%}
        {%- endif -%}
        {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' ' ~ block('form_label_class'))|trim}) -%}
        {{- parent() -}}
    {%- endif -%}
{%- endblock form_label_check %}

{# Rows #}

{% block form_row -%}
    {%- if expanded is defined and expanded -%}
        {{ block('fieldset_form_row') }}
    {%- else -%}
        {%- set widget_attr = {} -%}

        <div class="row">
            <div class="col-sm-12 col-12">
                <div class="form-group bmd-form-group {% if (not compound or force_error|default(false)) and not valid %} is-invalid{% endif %}">
                    {{- form_label(form) -}}
                    {{- form_widget(form, widget_attr) -}}
                    {##}
                </div>
            </div>
        </div>
    {%- endif -%}
{%- endblock form_row %}
{% block form_label_class -%}
    bmd-label-floating
{%- endblock form_label_class %}

{% block form_group_class -%}
    col-sm-9
{%- endblock form_group_class %}

{% block file_row -%}
    <div class="row">
        <div class="col-sm-12 col-12">
            <div class="form-group custom-file-input material-custom-input " >
                {{- form_widget(form) -}}
                {{- form_errors(form) -}}
            </div>{#--#}
        </div>
    </div>
{%- endblock file_row %}

{% block file_widget -%}
    {%- set type = type|default('file') -%}
    <label for="{{ form.vars.id }}" class="col-form-label"  >
        {{- form.vars.label -}}
    </label>
    <div class=" custom-file-label" >
        {{- block('form_widget_simple') -}}
    </div>
    <div class="clearfix"></div>

{% endblock %}

{% block checkbox_row -%}
    <div class="form-group row">
        <div class="{{ block('form_group_class') }}">
            {{- form_widget(form) -}}
            {{- form_errors(form) -}}
        </div>{#--#}
    </div>
{%- endblock checkbox_row %}


{% block checkbox_widget -%}
    {%- set parent_label_class = parent_label_class|default(label_attr.class|default('')) -%}
    <div class="form-check">
        <label for="{{ form.vars.id }}" class="form-check-label">
            {%- set attr = attr|merge({class: (attr.class|default('') ~ ' form-check-input')|trim}) -%}
            {{- form.vars.label -}}
            <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
            <span class="form-check-sign">
              <span class="check"></span>
            </span>
        </label>
    </div>
{%- endblock checkbox_widget %}